h1 {
    font-size: 450%;
    background-color: black;
    color:white;
    text-align: center;
}
img {
    height: 8%;
    width: 10%;
    float: left;
}
h2 {
    font-size: 250%;
    text-align: left;
    font-style: italic;
    padding-left: 75px;
}
article {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    text-align: left;

}
.subhead {
    text-align: center;
}
h3 {
    padding-left: 225px;
}
#horizontal {
    margin-left: 65px;
    padding: -30%;
}