.todo {
    background-color: beige;
    justify-content: space-around;
    
}
#todo-list {
    display: flex;
    justify-content: space-around;
}
.strikened {
    text-decoration: line-through;
}

.images {
    margin: auto;
    justify-content: space-around;
    width: 60%;
    height: 120%;

}
#todo-entry {
    display: flex;
    justify-content: space-around;

}