* {
    box-sizing: border-box; 
    font-size: 0px;
    
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    background-color: white;
    padding: 10px;
  }
.item1 {
    grid-column: 1 / span 4;
    grid-row: 1;
    background-color: #F5C6D6;
    padding: 100px;
}
.item2 {
    grid-column: 1 / span 1;
    grid-row: 2;
    background-color: #EE2E84;
    padding: 100px;
}
.item3 {
    grid-column: 2 / span 1;
    grid-row: 2;
    background-color: #EE2E84;
    padding: 100px;
}
.item4 {
    grid-column: 3 / span 1;
    grid-row: 2;
    background-color: #EE2E84;
    padding: 100px;
}
.item5 {
    grid-column: 4 / span 1;
    grid-row: 2;
    background-color: #EE2E84;
    padding: 100px;
}
.item6 {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: #85CFD8;
    padding: 100px;
}
.item7 {
    grid-column: 3 / span 2;
    grid-row: 3;
    background-color: #85CFD8;
    padding: 100px;
}
.item8 {
    grid-column: 1 / span 3;
    grid-row: 4;
    background-color:#8DC63F;
    padding: 100px;
}
.item9 {
    grid-column: 4 / span 1;
    grid-row: 4;
    background-color: #E76E34;
    padding: 100px;
}

